body {
     background: url(photos/back.jpeg) ;
     background-size: cover;
}
.stab{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.cities{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px 120px;
}
.city{
    backdrop-filter: blur(10px);
    border-radius: 50%;
    color: black;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.money{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px 120px;
}

.headline{
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;}

a{
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: gray;
}
